apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ipv
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          # dev
          - env: dev
            component: api
          - env: dev
            component: ui

          # test
          - env: test
            component: api
          - env: test
            component: ui

          # uat
          - env: uat
            component: api
          - env: uat
            component: ui

          # prod
          - env: prod
            component: api
          - env: prod
            component: ui

  template:
    metadata:
      name: "ipv-{{component}}-{{env}}"   # ipv-api-dev, ipv-ui-dev, etc.
    spec:
      project: default

      sources:
        # The component-specific Helm chart (ipv-api or ipv-ui)
        - repoURL: 'https://github.com/dragos1993/ArgoCD-src-code.git'
          targetRevision: main
          path: "charts/ipv-{{component}}"
          helm:
            valueFiles:
              - "$values/ipv-{{component}}/{{env}}/values-{{env}}.yaml"

        # Values repo (for $values/...)
        - repoURL: 'https://github.com/dragos1993/ArgoCD-Manifest.git'
          targetRevision: main
          ref: values

      destination:
        server: "https://kubernetes.default.svc"
        namespace: "ipv-{{env}}"   # api + ui together per env

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
